{% extends 'base.html' %}

{% block title %} MLS About {% endblock %}

{% block breadcrumbs %} <span style="color: var(--purple); font-size: x-large;">About</span> {% endblock %}


{% block info-title %}
Credits
{% endblock %}


{% block content %} 
    <div style="float: left;" class="about">
        <span class="about-title">Ankit Kumar (Co-Founder)</span> 
        <ul>
            <span class="high-word high-head">Skills:</span>
            <li>Data Science(Matplotlib, numpy, pandas, scipy)</li>
            <li>Image Processing(OpenCV, pillow)</li>
            <li>Deep Learning</li>
            <li>Full-Stack WebDev(Django, MongoDB)</li>
            <li>Web Automation(Selenium,BSoup,DiscordBot)</li>
            <li>Ethical Hacking(Basic,Linux Tools)</li>
            <li>GUI(Tkinter,Pygame)</li>
            <li>C, Java, Ruby (Basic)</li>

        </ul>
        <ul>
            <span class="high-word high-head">Links:</span>
            <li><a target="_blank" href="https://github.com/Anky209e">GitHub</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/ankit-kumar-1693431ba/">Linkedin</a></li>
            <li><a target="_blank" href="https://twitter.com/AnkitKu90989885">Twitter</a></li>
            <li><a target="_blank" href="https://open.spotify.com/user/31umyt2pqjiiqq3bjejk6px2vgke">Spotify</a></li>
            <li><a target="_blank" href="https://steamcommunity.com/profiles/76561199137121269">Steam</a></li>
            <li>nasaankit01@gmail.com</li>
        </ul>

    </div>
    <div style="float: right;" class="about">
        <span class="about-title">Ashwani Ahlawat (Co-Founder)</span> 
        <ul>
            <span class="high-word high-head">Skills:</span>
            <li>Data Science(Matplotlib, numpy, pandas, scipy)</li>
            <li>Image Processing(OpenCV, pillow)</li>
            <li>Deep Learning</li>
            <li>Full-Stack WebDev(Django, MongoDB)</li>
            <li>Web Automation(Selenium,BSoup,DiscordBot)</li>
            <li>GUI(PyQT,Pygame)</li>
            <li>C, Java, GoLang, JS (Basic)</li>
        </ul>

        <ul>
            <span class="high-word high-head">Links:</span>
            <li><a target="_blank" href="https://github.com/AshuAhlawat">GitHub</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/ashwani-ahlawat-080a351b2/">Linkedin</a></li>
            <li><a target="_blank" href="https://steamcommunity.com/profiles/76561199137121269">Steam</a></li>
            <li><a target="_blank" href="https://myanimelist.net/profile/Capti">MAL</a></li>
            <li>Capti#9078 (Discord)</li>
            <li>ashuahlawat22@gmail.com (Mail)</li>
        </ul>
    </div>

{% endblock %}

{% block info %} 
    <span class="high-head high-word">Resources</span>
    <ul>
        <li><a href="https://www.jovian.ai/">Jovian</a></li>
        <li><a href="https://www.youtube.com/c/PythonEngineer">Python Engineer</a></li>
        <li><a href="https://www.youtube.com/c/Freecodecamp">FreeCodeCamp</a></li>
        <li><a href="https://www.youtube.com/c/TechWithTim">Tech With Tim</a></li>
        <li><a href="https://www.w3schools.com/">W3 Schools</a></li>
        <li><a href="https://www.kaggle.com/">Kaggle</a></li>
        <li><a href="https://www.youtube.com/c/DeepMind">DeepMind</a></li>
        <li><a href="https://draculatheme.com/contribute">Dracula Theme</a></li>
    </ul>


{% endblock %}
