{% extends 'base.html' %}

{% block title %} MLS About {% endblock %}

{% block breadcrumbs %} <span style="color: var(--purple); font-size: x-large;">About</span> {% endblock %}


{% block info-title %}
Credits
{% endblock %}


{% block content %} 
    <div style="float: left; width: 50%; margin-left: 5%;" class="anky-info">
        <span class="high-word high-head">Ankit Kumar (Co-Founder,ModeLsmith)</span> 
        <ul>
            <span class="high-word high-head">Skills:</span>
            
            <li>Deep Learning</li>
            <li>Linux</li>
            <li>Web development</li>
            <li>Basic Ethical Hacking</li>
            <li>C,Java,Ruby.</li>
        </ul>
        <ul>
            <span class="high-word high-head">Links:</span>
            <li><a target="_blank" href="https://github.com/Anky209e">GitHub</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/ankit-kumar-1693431ba/">Linkedin</a></li>
            <li><a target="_blank" href="https://twitter.com/AnkitKu90989885">Twitter</a></li>
            <li><a target="_blank" href="https://open.spotify.com/user/31umyt2pqjiiqq3bjejk6px2vgke">Spotify</a></li>
            <li><a target="_blank" href="https://steamcommunity.com/profiles/76561199137121269">Steam</a></li>
            <li><a target="_blank" href="https://myanimelist.net/profile/Anky209e">MAL</a></li>
            <li>nasaankit01@gmail.com</li>

        </ul>
    </div>
    <div style="float: right; margin-right: 5%; " class="ashu-info">
        <span class="high-word high-head">Ashwani Ahlawat (Co-Founder,ModeLsmith)</span> 
        <ul>
            <span class="high-word high-head">Skills:</span>
            
            <li>Deep Learning</li>
            <li>Linux</li>
            <li>Web development</li>
            <li>C,Java.</li>
        </ul>
        <ul>
            <span class="high-word high-head">Links:</span>
            <li><a target="_blank" href="https://github.com/AshuAhlawat">GitHub</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/">Linkedin</a></li>
            <li><a target="_blank" href="https://twitter.com/AshuAhlawat17">Twitter</a></li>
            <li><a target="_blank" href="https://open.spotify.com/user/ut1gxlvp7f0o7tr9tymt0360m">Spotify</a></li>
            <li><a target="_blank" href="https://steamcommunity.com/profiles/76561199137121269">Steam</a></li>
            <li><a target="_blank" href="https://myanimelist.net/profile/Capti">MAL</a></li>
            <li>ashuahlawat22@gmail.com</li>
        </ul>
    </div>

{% endblock %}

{% block info %} 
    <span class="high-head high-word">Resources</span>
    <ul>
        <li><a href="https://www.jovian.ai/">Jovian</a></li>
        <li><a href="https://www.youtube.com/c/PythonEngineer">Python Engineer</a></li>
        <li><a href="https://www.youtube.com/c/Freecodecamp">FreeCodeCamp</a></li>
        <li><a href="https://www.youtube.com/c/TechWithTim">Tech With Tim</a></li>
        <li><a href="https://www.w3schools.com/">W3 Schools</a></li>
        <li><a href="https://www.kaggle.com/">Kaggle</a></li>
        <li><a href="https://www.youtube.com/c/DeepMind">DeepMind</a></li>
    </ul>


{% endblock %}
