{% extends 'base.html' %}

{% block title %} ModeLsmith {% endblock %}

{% block breadcrumbs %}<span style="color: var(--purple); font-size: x-large;" >Home</span> /{% endblock %}

{% block info-title %}Dropdown{% endblock %}

{% block info%}
    <div style="color: var(--grey); font-size: large;">
        //Hey! Click on the big buttons in the nav bar to see the specific links.
    </div>
{% endblock%}

{% block content %}
    <img src="/media/home/deep-learning.png" alt="" style="float: right;" width="25%">

    <div style="font-size: large;">    
        <p style="margin-top: 0;">
            <span class="high-word high-head">Deep learning</span> is a machine learning technique that teaches computers to do what comes naturally to humans: learn by example.<br>
            Deep learning is a key technology behind <span class="high-word">driverless cars</span>, enabling them to recognize a stop sign, or to distinguish a pedestrian from a lamppost.<br>
            It is the key to <span class="high-word">voice control</span> in consumer devices like phones, tablets, TVs, and hands-free speakers. Deep learning is getting lots of attention lately and for good reason. It’s achieving results that were not possible before.
        </p>
        <p>
            In deep learning, a computer model learns to perform classification tasks directly from images, text, or sound. Deep learning models can achieve state-of-the-art accuracy, sometimes exceeding human-level performance.<br>
            Models are trained by using a <span class="high-line">large set of labeled data and neural network architectures</span> that contain many layers.
        </p>
        <p>
            While deep learning was first theorized in the 1980s, there are two main reasons it has only recently become useful:

            <ul>
                <li>Deep learning requires large amounts of labeled data. For example, driverless car development requires millions of images and thousands of hours of video.</li>
                <li>Deep learning requires substantial computing power. High-performance GPUs have a parallel architecture that is efficient for deep learning. When combined with clusters or cloud computing, this enables development teams to reduce training time for a deep learning network from weeks to hours or less.</li>
            </ul>
        </p>
        <img src="https://www.mathworks.com/discovery/deep-learning/_jcr_content/mainParsys/band_2123350969_copy_1983242569/mainParsys/columns_1635259577/1/image_2128876021_cop_1731669336.adapt.1200.medium.svg/1639474434320.svg" alt="" style="float:left;">

        <p>
        <div class="high-head high-word">How to Create and Train Deep Learning Models</div>
        The three most common ways people use deep learning to perform object classification are:
            <ul>
                <li class="high-word" style="font-size: large;">Training from Scratch</li>
                To train a deep network from scratch, you gather a very large labeled data set and design a network architecture that will learn the features and model. This is good for new applications, or applications that will have a large number of output categories. This is a less common approach because with the large amount of data and rate of learning, these networks typically take days or weeks to train.<br>
                <li class="high-word" style="font-size: large;">Transfer Learning</li>
                Most deep learning applications use the transfer learning approach, a process that involves fine-tuning a pretrained model. You start with an existing network, such as AlexNet or GoogLeNet, and feed in new data containing previously unknown classes. After making some tweaks to the network, you can now perform a new task, such as categorizing only dogs or cats instead of 1000 different objects. This also has the advantage of needing much less data (processing thousands of images, rather than millions), so computation time drops to minutes or hours.<br>
                <li class="high-word" style="font-size: large;">Feature Extraction</li>
                A slightly less common, more specialized approach to deep learning is to use the network as a feature extractor. Since all the layers are tasked with learning certain features from images, we can pull these features out of the network at any time during the training process. These features can then be used as input to a machine learning model such as support vector<br>
            </ul>
        </p>

        
    </div>
{% endblock%}
