{% extends './cnnbase.html' %}


{% block info %}
    <h3 style="color: gray;">This model uses Deep layer of Convolutional Neural Networks.</h3>
    <span class="high-word high-head">Dataset</span> 
    <p>
        CIFAR-10  is an established computer-vision dataset used for object recognition. 
        It is a subset of the 80 million tiny images dataset and consists of 60,000 32x32 color images containing one of 10 object classes, 
        with 6000 images per class. It was collected by Alex Krizhevsky, Vinod Nair, and Geoffrey Hinton.
    </p>
    <p>Train your own model by <a target="_blank" href="https://www.kaggle.com/c/cifar-10">downloading the dataset.</a></p>

    <img src="https://thumbs.gfycat.com/ActiveCourteousAmericanindianhorse.webp" alt="">

    <p>See our <a target="_blank" href="https://github.com/AshuAhlawat/Machine-Learning/blob/main/PyTorch/09cnn-cifar10.ipynb">Code at Github.</a></p>

{% endblock %}