{% extends './cnnbase.html' %}


{% block info %}
    <h3 style="color: gray;">This model uses Resnets.</h3>
    <img src="https://miro.medium.com/max/2000/1*bhFifratH9DjKqMBTeQG5A.gif" style="width: 100%;" alt="">
    
    <span class="high-word high-head">ResNet</span>   
    <p>
        The problem of training very deep networks has been alleviated with the introduction of a new neural network layer — The Residual Block.
        <br>
        classical CNNs do not perform well as the depth of the network grows past a certain threshold. ResNets allow for the training of deeper networks.
    </p>
    <img src="https://miro.medium.com/max/434/0*sGlmENAXIZhSqyFZ" alt="">
    <span class="high-word high-head">Dataset</span> 
    <p>
        Automatic gender detection through facial features has become a critical component 
        in the new domain of computer human observation and Computer Human Interaction (HCI). 
        Automatic gender detection has numerous applications in the area of recommender systems,
        focused advertising, security and surveillance. Detection of gender by using the facial 
        features is done by many methods such as Gabor wavelets, artificial neural networks and
        support vector machine. In this work, we have used the facial global feature distance measure as a pre-cursor. 
        The concept of ”connected-components” is used to extract the required features. 
    </p>
    <p>Train your own model by <a target="_blank" style="color: #bd93f9; text-decoration: none;" href="https://www.kaggle.com/cashutosh/gender-classification-dataset">downloading the dataset.</a></p>
    
    <p>See our <a style="color: #bd93f9; text-decoration: none;" target="_blank" href="https://github.com/AshuAhlawat/Machine-Learning/blob/main/PyTorch/10resnet-gender.ipynb">Code at Github.</a></p>


{% endblock %}