{% extends 'base.html' %}

{% block title %}MLS Conv NN{% endblock %}

{% block breadcrumbs %}
<a href="/home">Home</a> / <span style="color: var(--purple); font-size: x-large;">Convolutional Neural Networks</span> /
{% endblock %}

{% block info-title %}Dropdown{% endblock %}

{% block info%}
    <br>
    <ul>
        {% for i in list%}
            <li><a href="/cnn/{{i}}">{{i}}</a></li><br>
        {% endfor %}
    </ul>
{% endblock%}

{% block content %}
    <div style="float:left;text-align: left; width: 100;">
        <img src="./media/home/cnn.jpeg" alt="" style="float: left; margin-right: 10px;" width="50%">
        <p>
            A <span class="high-word" style="font-size: large;">Convolutional Neural Network </span>(ConvNet/CNN) is a Deep Learning algorithm which can take in an input image, assign importance (learnable weights and biases) to various aspects/objects in the image and be able to differentiate one from the other. The pre-processing required in a ConvNet is much lower as compared to other classification algorithms. While in primitive methods filters are hand-engineered, with enough training, ConvNets have the ability to learn these filters/characteristics
        </p>
        <p>
            The architecture of a ConvNet is analogous to that of the connectivity pattern of Neurons in the Human Brain and was inspired by the organization of the Visual Cortex. Individual neurons respond to stimuli only in a restricted region of the visual field known as the Receptive Field. A collection of such fields overlap to cover the entire visual area.
        </p>
       
    </div>

    <div style="float:left;text-align:start; width: 100%;">
        <img src="./media/home/image_matrix.png" alt="" style="float: right; margin-left: 10px;" width="30%">
        
        <p>
            A ConvNet is able to successfully capture the <span class="high-line">Spatial and Temporal dependencies in an image</span> through the application of relevant filters. The architecture performs a better fitting to the image dataset due to the reduction in the number of parameters involved and reusability of weights. In other words, the network can be trained to understand the sophistication of the image better.
        </p>
        <p>
            The role of the ConvNet is to reduce the images into a form which is easier to process, without losing features which are critical for getting a good prediction. This is important when we are to design an architecture which is not only good at learning features but also is scalable to massive datasets.
        </p>
    </div>
    
    <div style="float: left; width: 100%;margin-bottom: 10px;">
        <img src="./media/home/convolution.gif" alt="" style="float: left; margin-right: 10px;" width="27%">
        <p>
            The objective of the Convolution Operation is to extract the high-level features such as edges, from the input image. ConvNets need not be limited to only one Convolutional Layer. Conventionally, the first <span class="high-word">ConvLayer</span> is responsible for capturing the Low-Level features such as  <span class="high-line">edges, color, gradient orientation,</span> etc
        </p>
        <p>
            The filter moves to the right with a certain Stride Value till it parses the complete width. Moving on, it hops down to the beginning (left) of the image with the same Stride Value and repeats the process until the entire image is traversed.
        </p>
        <p>
            There are two types of results to the operation — one in which the convolved feature is reduced in dimensionality as compared to the input, and the other in which the dimensionality is either increased or remains the same. This is done by applying Valid Padding in case of the former, or Same Padding in the case of the latter.
        </p>

    </div>

    <div style="float: left; width: 100%;">
        <img src="./media/home/pool.jpeg" alt="" width="27%" style="float: left; margin-right: 10px;">
        <p>
            <span class="high-word">Pooling layer</span> is responsible for reducing the spatial size of the Convolved Feature. This is to decrease the computational power required to process the data through dimensionality reduction. Furthermore, it is useful for extracting dominant features which are rotational and positional invariant, thus maintaining the process of effectively training of the model.
        </p>
        <p>
            There are two types of Pooling: <span class="high-line">Max Pooling and Average Pooling</span>. Max Pooling returns the maximum value from the portion of the image covered by the Kernel. On the other hand, Average Pooling returns the average of all the values from the portion of the image covered by the Kernel.
        </p>
        <p>
            Max Pooling also performs as a Noise Suppressant. It discards the noisy activations altogether and also performs de-noising along with dimensionality reduction. On the other hand, Average Pooling simply performs dimensionality reduction as a noise suppressing mechanism. Hence, we can say that Max Pooling performs a lot better than Average Pooling
        </p>
    </div>
    
{% endblock %}