{% extends './gansbase.html' %}
{% block info%}
    <h3 style="color: grey;">This GAN is from dataset given by ML4SC in GSOC22.</h3>
    
    <span class="high-word high-head">Dataset</span> 
    <p>
        This datset contains images of dark matter rings taken by gravitational lensing.
    </p>
    <img src="/media/home/dark_matter.gif" style="width: 100%;" alt="">
    <!-- <p>Train your own model by<a target="_blank" href="https://www.kaggle.com/alxmamaev/flowers-recognition"> downloading the dataset.</a> -->

    <p>See our <a target="_blank" href="https://github.com/Anky209e/Machine-learning/tree/main/dark_matter_gan">Code at Github.</a></p>
{% endblock%}