{% extends './gansbase.html'%}

{% block info%}
    <h3 style="color: grey;">This GAN uses dataset of kaggle competition <a target="_blank" href="https://www.kaggle.com/c/gan-getting-started">I am something of a painter myself.</a></h3>
    <span class="high-word high-head">Dataset</span> 
    <p>
        We recognize the works of artists through their unique style, such as color
         choices or brush strokes. The “je ne sais quoi” of artists like Claude Monet can now be
         imitated with algorithms thanks to generative adversarial networks (GANs)
    </p>
    <img style="width: 100%;" src="/media/home/paint-info.gif" alt="">
    <p>Train your own model by<a target="_blank" href="https://www.kaggle.com/cashutosh/gender-classification-dataset"> downloading the dataset.</a>
    <p>See our <a target="_blank" href="https://github.com/Anky209e/Machine-learning/blob/main/i_am_painter_gans/painter_gans.ipynb">Code at Github.</a></p>
{% endblock%}