<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart</title>
</head>
<body>
    <form action=" " method="post">
        {% csrf_token %}
        <!-- age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal -->
        values = [50,1,0,144,200,0,0,126,1,0.9,1,0,3]
        <br>
        Age:<input type="text" name="age"><br>
        Sex:<input type="text" name="sex"><br>
        Cp:<input type="text" name="cp"><br>
        Trestbps:<input type="text" name="trestbps"><br>
        Chol:<input type="text" name="chol"><br>
        Fbs:<input type="text" name="fbs"><br>
        RestEcg:<input type="text" name="restecg"><br>
        Thalach:<input type="text" name="thalach"><br>
        Exang:<input type="text" name="exang"><br>
        OldPeak:<input type="text" name="oldpeak"><br>
        Slope:<input type="text" name="slope"><br>
        Ca:<input type="text" name="ca"><br>
        Thal:<input type="text" name="thal"><br>

        <input type="submit" value="Submit">
    </form>
    <div class="result">
        {% if prob != None %}
            {{pred}}:{{prob}}
        {% else %}
            {{pred}}
        {% endif %}
        
    </div>
</body>
</html>