<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris</title>
</head>
<body>
    values = [4.8,3.4,1.6,0.2]
    <form action="" method="post">
        {% csrf_token %}
        Sepal length<input type="text" name="sl">cm<br>
        Sepal width<input type="text" name="sw">cm<br>
        Petal length<input type="text" name="pl">cm<br>
        Petal width<input type="text" name="pw">cm<br>
        

        <input type="submit" value="submit">
        
    </form>

    <div class="result">
        {{pred}}:{{prob}}
    </div>

</body>
</html>