<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart</title>
</head>
<body>
    values = [4.8,3.4,1.6,0.2]
    <form action="ans/" method="get">
        
        Sepal length<input type="text" name="sl"><br>
        Sepal width<input type="text" name="sw"><br>
        Petal length<input type="text" name="pl"><br>
        Petal width<input type="text" name="pw"><br>

        <input type="submit" value="submit">
    </form>
</body>
</html>