{% extends 'base.html' %}

{% block title %} MLS NN{% endblock %}

{% block breadcrumbs %}
<a href="/home">Home</a> / <span style="color: var(--purple); font-size: x-large;">Neural Networks</span> /
{% endblock %}

{% block info-title %}Dropdown{% endblock %}

{% block info%}
    <br>
    <ul>
        {% for i in list%}
            <li><a href="/nn/{{i}}">{{i}}</a></li><br>
        {% endfor %}
    </ul>
{% endblock%}

{% block content %}
    <div class="high-head high-word">What Is a Neural Network?</div>
    <p>
        A neural network is a series of algorithms that endeavors to recognize underlying relationships in a set of data through a process that mimics the way the human brain operates. In this sense, neural networks refer to systems of neurons, either organic or artificial in nature.
    </p>
    <p>
        Neural networks can adapt to changing input; so the network generates the best possible result without needing to redesign the output criteria. The concept of neural networks, which has its roots in artificial intelligence, is swiftly gaining popularity in the development of trading systems. 
    </p>
    <span class="high-word high-head">Linear Neural Network</span> 
    <p>
        The neural network without any activation function in any of its layers is called a linear neural network. 
        The neural network which has action functions like relu, sigmoid or tanh in any of its 
        layer or even in more than one layer is called non-linear neural network.
    </p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Neural_network_example.svg/800px-Neural_network_example.svg.png" style="height: 500px; width: 40%;" alt="">
    

    <div class="high-word high-head">Key TakeAways</div>
    <ul>
        <li>Neural networks are a series of algorithms that mimic the operations of an animal brain to recognize relationships between vast amounts of data.</li>
        <li>As such, they tend to resemble the connections of neurons and synapses found in the brain.</li>
        <li>They are used in a variety of applications in financial services, from forecasting and marketing research to fraud detection and risk assessment.</li>
        <li>Neural networks with several process layers are known as "deep" networks and are used for deep learning algorithms</li>
        <li>The success of neural networks for stock market price prediction varies.</li>
    </ul>

    <p>
        Hidden layers fine-tune the input weightings until the neural network’s margin of error is minimal. It is hypothesized that hidden layers extrapolate salient features in the input data that have predictive power regarding the outputs. This describes feature extraction, which accomplishes a utility similar to statistical techniques such as principal component analysis. 
    </p>
    


{% endblock %}