{% extends './nnbase.html' %}

{% block info %}
	<span class="high-word high-head">Output</span>
    <ul>
    	<li>Iris Setosa</li>
    	<li>Iris Versicolor</li>
    	<li>Iris Virginica</li>
    </ul>
    <h3 style="color: gray;">This model uses single layered linear network.</h3>
    <span class="high-word high-head">Dataset Information</span> 
    <p>
        This is perhaps the best known database to be found in the pattern recognition literature. 
        Fisher's paper is a classic in the field and is referenced frequently to this day. (See Duda & Hart, for example.)
        The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.
        One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.
        

        <a style="color: #bd93f9; text-decoration: none;" target="_blank" href="https://archive.ics.uci.edu/ml/datasets/iris">Download</a>
    </p>
    <p>Learn more about this on
    <a href="/nn/heart/" style="color: #bd93f9; text-decoration: none;">heart</a>
    model.
    </p>
    

{% endblock %}

{% block inputs %}
    <form action="" method="post">
        {% csrf_token %}
        Sepal length:<input type="text" name="sl" placeholder="in cm" required><br>
        Sepal width:<input type="text" name="sw" placeholder="in cm" required><br>
        Petal length:<input type="text" name="pl" placeholder="in cm" required><br>
        Petal width:<input type="text" name="pw" placeholder="in cm" required><br>
        
        <br>
        <br>
        <input type="submit" value="submit">
        
    </form>
{% endblock %}
