{% extends './nnbase.html' %}

{% block info %}
    Iris info here
{% endblock %}

{% block content %}
    {% if prob == None %}
        values = [4.8,3.4,1.6,0.2]
        <form action="" method="post">
            {% csrf_token %}
            Sepal length<input type="text" name="sl">cm<br>
            Sepal width<input type="text" name="sw">cm<br>
            Petal length<input type="text" name="pl">cm<br>
            Petal width<input type="text" name="pw">cm<br>
            

            <input type="submit" value="submit">
            
        </form>
    {% endif %}

    <div class="result">
        {{pred}}{% if prob != None %}:{{prob}}{% endif %}
    </div>
{% endblock %}