{% extends './nnbase.html' %}

{% block info %}
    <h3 style="color: gray; );">This model uses single layered linear network.</h3>
    <span class="high-word high-head">Dataset Information</span> 
    <p>
        This is perhaps the best known database to be found in the pattern recognition literature. 
        Fisher's paper is a classic in the field and is referenced frequently to this day. (See Duda & Hart, for example.)
        The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.
        One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.
        

        <a style="color: #bd93f9; text-decoration: none;" target="_blank" href="https://archive.ics.uci.edu/ml/datasets/iris">Download</a>
    </p>
    <p>Learn more about this on
    <a href="/nn/heart/" style="color: #bd93f9; text-decoration: none;">heart</a>
    model.
    </p>
    <span class="high-word high-head">Linear Regression</span> 
    <p>Linear regression may be both the simplest and most popular among the standard tools to regression. 
        Dating back to the dawn of the 19th century, linear regression flows from a few simple assumptions. First, we assume that the relationship between the independent variables x and the dependent variable y is linear, i.e., 
        that y can be expressed as a weighted sum of the elements in x, given some noise on the observations. 
        Second, we assume that any noise is well-behaved 
    </p>
    <img src="https://miro.medium.com/max/1400/1*aDeaim7khcLZrhPcDlYUPg.png" style="width: 75%; height: 75%;" alt=""><br>
    <span class="high-word high-head">Loss Function</span> 
    <p>
        The loss function quantifies the distance between the real and predicted value of the target. 
        The loss will usually be a non-negative number where smaller values are better and perfect predictions incur a loss of 0.
        The most popular loss function in regression problems is the squared error.
    </p>
    <img src="https://miro.medium.com/max/513/1*SGhoeJ_BgcfqU06CmX41rw.png" style="width: 100%;" alt="">

{% endblock %}

{% block content %}
    {% if prob == None %}
        <form action="" method="post">
            {% csrf_token %}
            Sepal length<input type="text" name="sl"><br>
            Sepal width<input type="text" name="sw"><br>
            Petal length<input type="text" name="pl"><br>
            Petal width<input type="text" name="pw"><br>
            

            <input type="submit" value="submit">
            
        </form>
        
        
    {% endif %}

    <div class="result">
        {{pred}}{% if prob != None %}:{{prob}}{% endif %}

    </div>
{% endblock %}