{% extends 'base.html' %}

{% block title %} {{name}} NN {% endblock %}

{% block breadcrumbs %}
<a href="/home">Home</a> / <a href="/nn">Neural Networks</a> /<span style="color: var(--purple); font-size: x-large;">{% block model %}{{name}}{% endblock %}</span>
{% endblock %}

{% block info-title %}Info{% endblock %}

{% block info%}
    INFO about model here
{% endblock%}

{% block content %}
    {% block inputs %}
    {% endblock %}
        
    <br>
    <br>

    <div class="result">
        {% for class, prob in list %}
            <span class="class">{{class}}</span>  : <span class="prob">{{prob}}%</span>  <br>
        {% endfor %}
    </div>

{% endblock %}